html {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1170px;
  height: 80px;
  border: 1px solid rgba(236, 236, 236, 1) ;
  background-color:rgba(255, 255, 255, 1);
}

.header__content {
  display: flex;
}

.logo {
  display: flex;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;

  text-decoration: none;
  color: unset;
}

.logo--web {
  color: rgba(33, 150, 243, 1);
}

.logo--studio-header {
  color: black;
}

.logo--studio-footer {
  color: #fff;
}

.nav {
  display: flex;
}

.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 50px;
}

.nav__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 16.41px;
  text-decoration: none;
  color:rgba(33, 33, 33, 1);;
}

a.email {

  width: 122px;
  height: 16px;
  top: 32px;
  left: 1078px;
  color: rgba(33, 150, 243, 1);
}

.mobile {

}

.hero { 
  height: 600px;
  background-color: rgba(47, 48, 58, 1);
  border: 1px solid red;
}

.sectionfirst h1 {
  border: 0px solid white;
  box-sizing: border-box;
  position: relative;
  top: 280px;
  left: 452px;
  width: 696px;
  height: 120px;
  margin: 0;
  padding: 0px 40px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color:rgba(255, 255, 255, 1);
}
