.features {
  padding: 94px 0 94px;
}

.features__list {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.features__list-item {

  width: 270px;
  height: 98px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feature__title {

  
  font-size: 14px;
  font-weight: 700;
  color: rgba(33, 33, 33, 1);
  margin: 0px;
}

.feature__text {

  margin: 0px;
  text-align: justify;
  letter-spacing: 0.42px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
}