.contacts {
  display: flex;
  gap: 50px;
}

.contacts__email {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color:unset;
}

.contacts__mobile {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: rgba(117, 117, 117, 1);
  text-decoration: none;

}

.contacts__email:hover {
  color: rgba(33, 150, 243, 1);
}