/* Reset margins and paddings */

body, h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #757575;
}

a {
    transition: 0.3s all;
    text-decoration: none;
}

.nav-item:hover {
    color: #2196F3;
}

a:hover {
    color: #2196F3;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    margin: 0 auto;
}

.header-left {
    display: flex;
    gap:93px;
}

.nav {
    height: 80px;
    
}

.menu {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

span {
    color: #2196F3;
}

.nav-list {
    display: flex;
    gap: 50px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    height: 100%;
}

.nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-contacts {
    display: flex;
    gap: 50px;
    height: 80px;
    
}

.e-mail {
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.phone {
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.headline {
    display: flex;
    background-color: #2F303A;
    height: 600px;
    text-align: center;
    align-items: center;
    margin-bottom: 94px;
}

h1 {
    margin: 0 0 30px;
    color: #FFF;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

button {
    width: 216px;
    height: 50px;
    border-radius: 4px;
    background-color: #2196F3;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.96px;
}

.special-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 94px;
}

.special-item {
    list-style-type: none;
    width: 270px;
}

h2 {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin: 0 0 50px;
}

h3 {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    
}

p {
    color: #757575;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.employments {
    margin: 0 0 94px;
}

.employments-img {
    display: flex;
    justify-content: space-between;
}

.our-team {
    display: flex;
    height: 648px;
    background-color: #F5F4FA;
    text-align: center;
    align-items: center;
}

.team {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.team-member {
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.member-img {
    margin-bottom: 30px;
}

h4 {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
}

.member-text {
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
}

.footer {
    background-color: #2F303A;
    display: flex;
    padding: 60px 0 60px;
}

.address {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 9px;   
}
